<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <script src="/static/scripts.js" rel="javascript"></script>
    <title>Informations</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center lil-jump-bottom">
        <div class="col-11 col-md-4 text-center">
            <h2>About this website...</h2>
        </div>
    </div>
    <div class="row justify-content-center lil-jump-bottom">
        <div class="col-3 col-md-1 text-center">
            <a class="material-icons-outlined" href="https://github.com/sghebrab/GOST_WebService.git">
                code
            </a>
        </div>
        <div class="col-3 col-md-1 text-center">
            <a class="material-icons-outlined" href="{{url_for('homepage')}}">home</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8">
            <p style="overflow-wrap: break-word">
                <b>March 2021</b>
                This fantastic journey started on a rainy night of March 2021.<br>
                Wandering on Twitter, I stumbled upon a post of <a href="https://twitter.com/cryptolexicon">Crypto Dictionary</a> that
                talked about the <b>GOST</b> cipher. This symmetric block cipher was the Soviet counterpart of the old American <b>DES</b>.<br>
                The GOST cipher is a <b>64 bit block symmetric cipher</b> that is based, like DES, on a Feistel network.
                The <b>key</b> is <b>256 bit</b> long, unlike DES where the key was dramatically shorter.
                Both encryption and decryption are performed through 32 rounds. Each round consists of bit rotations, XORs and use of S-Boxes.
                In this implementation, the S-BOXES are fixed according to the standard <a href="https://tools.ietf.org/html/rfc5830#page-3"><b>GOST R 34.12-2015</b></a>.<br>
                The most effective attack against GOST requires like 2<sup>70</sup> plaintexts, so the cipher is <u><b>theoretically</b></u> broken.
                Nevertheless, I think that using it as a toy cannot be harmful for anyone. Just don't use it for your credit card data
                and you'll be fine.<br>
                This particular implementation uses <b>Password-Based Key Derivation Function 2</b> (PBKDF2) with <b>SHA-256</b> to derive a key starting
                from you password. PBKDF2 provides a stronger resistance to brute-force attacks.<br>
                Since I like to implement basic paper-hand ciphers using various programming languages (Python, basically), I decided that
                the challenge of implementing a more serious cipher would have been intriguing.<br>
                Working on this cipher for a couple of nights, I managed to make it work.<br>
                Nevertheless, the program could only be launched using the command line, so I wasn't that happy.<br>
                A couple of days later I learned about the existence of <b>Flask</b> and so I decided that the time had come to
                give a User Interface to this program. Flask is a very versatile tool and web programming CAN be fun, in the end.<br>
                This is the final result, obtained by combining <b>Python</b>, <b>HTML</b>, <b>Javascript</b> and some <b>CSS</b> (mostly Bootstrap).<br>
                <br>
                <b>March 2023</b>
                Around two years later, in March 2023, I finally decided to take a big leap of faith: leave behind the old, clumsy Python implementation of GOST and work on a brand new one
                in <b>C</b>, one of the fastest and most famous programming languages. C is much faster than Python so I was sure that a new, proper implementation would have been way faster.
                Things were quite hard in the beginning as I had to go through the pointers' nightmare, but I eventually managed to make it work. 
                Now, instead of using the GOST.py module, a C shared library is used to perform encryption and decryption.<br>
                So, after two years, I can say that the final result is obtained by combining together <b>Python</b>, <b>HTML</b>, <b>Javascript</b>, <b>CSS</b> and, most importantly, <b>C</b>.
            </p>
            <p>What do the <b>bold</b> words mean on the homepage?</p>
            <ul style="overflow-wrap: break-word">
                <li><b>Plaintext</b> is the message that you want to encrypt to unintelligible to those who do not know the password. An example? A super cringe love letter;</li>
                <li><b>Password</b> is the secret password that will be used to derive a key that will encrypt your message. The strength of encryption heavily relies on this
                    parameter, so always choose a password that is not that easy to guess;<br>
                </li>
                <li><b>Salt</b> is a random value that helps the key derivation function to derive a unique, fresh key even if the password is the same. 
                    Salt is used in order to let a user re-use the same password again and again without relying on the same key;
                </li>
                <li><b>Operating mode</b> (or mode of operation) is a specific algorithm that makes a block cipher behave like a stream cipher, enabling a user to encrypt messages
                    that are longer than a block. Besides ECB, which is the most simple and weak at the same time, all the other ones are good to go;
                </li>
                <li><b>IV</b> (initialization vector) is a block-sized, fresh and unique quantity that is used by modes of operations to guarantee certain properties to the 
                    ciphertext. IVs should never be used more than once, at least on short periods. Completely random ones are always the best choice;
                </li>
                <li><b>Ciphertext</b> is the result of the encryption.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center lil-jump-bottom">
        <div class="col-11 col-md-4 text-center">
            <a class="btn btn-primary" href="{{url_for('homepage')}}">Home</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8">
            <blockquote class="blockquote">
                <footer class="blockquote-footer">developed by Sghebre</footer>
            </blockquote>
        </div>
    </div>
</div>
</body>
</html>
